    <ul class="kit-cms-arbo-node-container">
        {% for kitCmsArboPage in arbo %}
            <li class="kit-cms-arbo-node ">
                <div class="kit-cms-arbo-line">
                    <a href="{{kitCmsArboPage.url}}">
                        <span class="kit-cms-arbo-page-id {% if kitCmsArboPage.id %}kit-cms-advanced{% endif %}">[{{kitCmsArboPage.id}}]</span>
                        <span class="kit-cms-arbo-page-title">{{kitCmsArboPage.menuTitle|raw}}</span>
                        <span class="kit-cms-arbo-page-slug {% if kitCmsArboPage.menuTitle %}kit-cms-advanced{% endif %}">{{kitCmsArboPage.slug}}</span>
                        <img class="kit-cms-arbo-edit-button" src="{{asset("bundles/kitpagescms/icon/edit.png")}}"/>
                    </a>
                    <ul class="kit-cms-arbo-actions kit-cms-menu">
                    {% for kitCmsArboPageAction in kitCmsArboPage.actionList %}
                        <li class="{{kitCmsArboPageAction.class|default()}}" >
                        {% if kitCmsArboPageAction.icon is defined %}
                            <a href="{{kitCmsArboPageAction.url}}" title="{{kitCmsArboPageAction.label}}">{% if kitCmsArboPageAction.id == 'publish' and kitCmsArboPage.isPublished != 1 %}<img src="{{asset("bundles/kitpagescms/icon/warning.png")}}">{% endif %}<img src="{{asset("bundles/kitpagescms/" ~ kitCmsArboPageAction.icon)}}"></a>
                        {% else %}
                            <a href="{{kitCmsArboPageAction.url}}">{% if kitCmsArboPageAction.id == 'publish' and kitCmsArboPage.isPublished != 1 %}<img src="{{asset("bundles/kitpagescms/icon/warning.png")}}">{% endif %}{{kitCmsArboPageAction.label}}</a>
                        {% endif %}
                        </li>

                    {% endfor %}
                    </ul>
                    <div style="clear:both"></div>
                </div>
                {% include 'KitpagesCmsBundle:Nav:arboChildren.html.twig' with {'arbo': kitCmsArboPage.children } %}
            </li>
        {% endfor %}
    </ul>