<ul {% if root %} class='kit-cms-navigation-{{navigationLabel}}' {% endif %} >
    {% for navigationElem in navigation %}
        <li class="kit-cms-navigation-{{navigationLabel}}-level{{navigationElem.level}} kit-cms-navigation-{{navigationLabel}}-slug-{{navigationElem.slug}}">
            {% if navigationElem.url == '' %}{{navigationElem.title}}{% else %}<a href="{{navigationElem.url}}" >{{navigationElem.title}}</a>{% endif %}
            {% include 'KitpagesCmsBundle:Nav:navigation.html.twig' with {'navigation': navigationElem.children, 'navigationLabel':navigationLabel, 'root':false } %}
        </li>
    {% endfor %}
</ul>

{% if root %}
<script>
$(document).ready(function(){
    {% if currentPageSlug != '' %}
        $('.kit-cms-navigation-{{navigationLabel}}-slug-{{currentPageSlug}}').addClass('kit-cms-select');
        $('.kit-cms-navigation-{{navigationLabel}}-slug-{{currentPageSlug}}').addClass('kit-cms-current');
    {% endif %}
    {% for selectPageSlug in selectPageSlugList %}
        $('.kit-cms-navigation-{{navigationLabel}}-slug-{{selectPageSlug}}').parents('li').addClass('kit-cms-select');
    {% endfor %}
});
</script>

{% endif %}

