{% extends 'KitpagesCmsBundle:Page:layout.html.twig' %}
{% block body %}
    <script type="text/javascript" src="{{ asset ("bundles/kitpagescms/js/jQuery/kitCmsModal.js") }}" ></script>
    <script>
    </script>
    <div class="kit-cms-tree kit-cms">
        <h1>Tree</h1>
        <a class="kit-cms-modal-open kit-cms-publish-all" href="{{ path('kitpages_cms_nav_publish_all', { 'kitpages_target' : path('kitpages_cms_nav_tree') }) }}">
            <img src="{{asset("bundles/kitpagescms/icon/publish.png")}}"/> Publish all pages and navigation
        </a>
        <script>
            (function() {

                $(document).ready(function() {
                    $('.kit-cms-modal-open > a').kitCmsModal({closable:false});
                    $('a.kit-cms-modal-open').kitCmsModal({closable:false});
                });

                $('.kit-cms-publish-all').click(function(e) {
                    var response = confirm("Do you confirm you want to publish all pages and the navigation ?");
                    if (!response) {
                        e.preventDefault();
                        $('.kit-cms-modal-open > a').kitCmsModal("close");
                        $('a.kit-cms-modal-open').kitCmsModal("close");
                    }
                });


            })();
        </script>

        {% set cycle = 0 %}
    <img class="kit-cms-tree-collapse-all" src="{{asset("bundles/kitpagescms/icon/collapse_all.gif")}}"  data-cms-tree-action-url="{{ path('kitpages_cms_nav_userpreference_tree', { 'action': 'collapse', 'target': 'tree' }) }}" />
    <img class="kit-cms-tree-expand-all" src="{{asset("bundles/kitpagescms/icon/expand_all.gif")}}"  data-cms-tree-action-url="{{ path('kitpages_cms_nav_userpreference_tree', { 'action': 'expand', 'target': 'tree' }) }}" />
    {% include 'KitpagesCmsBundle:Nav:treeChildren.html.twig' with {'tree': tree, 'kitCmsUserPreferenceTree': kitCmsUserPreferenceTree } %}
    <script>
    (function(){
        $('.kit-cms-tree-hide').hide();
        {% if kitCmsUserPreferenceTree.stateTree is not defined %}
            treeExpandAll('{{ path('kitpages_cms_nav_userpreference_tree', { 'action': 'expand', 'target': 'tree' })|raw }}');
        {% endif %}
        $('.kit-cms-tree').show();
        $(window).scrollTop({{kitCmsUserPreferenceTree.scrollTree|default(0)}});
        var timer;
        $(window).scroll(function () {
            clearTimeout(timer);
            timer = setTimeout(
                function(){$.ajax({
                  url: "{{ path('kitpages_cms_nav_userpreference_tree_scroll')}}?scroll="+$(window).scrollTop()
                })},
                1000
            );
        });
        $('.kit-cms-tree-collapse-all').click(function(){
            treeExpandAll($(this).attr('data-cms-tree-action-url'));
        });
        $('.kit-cms-tree-expand-all').click(function(){
            $('.kit-cms-tree-collapsed').hide();
            $('.kit-cms-tree-expanded').show();
            $('div.kit-cms-tree-state-node').show();
            $.ajax({
              url: $(this).attr('data-cms-tree-action-url'),
              success: function(){
              }
            });
        });
        $('.kit-cms-tree').delegate('.kit-cms-tree-expanded-collapsed', 'click', function(event){
            $(this).nextAll('div.kit-cms-tree-state-node').toggle();
            $(this).siblings('.kit-cms-tree-expanded-collapsed').toggle();
            $(this).toggle();
            $.ajax({
              url: $(this).attr('data-cms-tree-action-url'),
              success: function(){
              }
            });
        })

        function treeExpandAll(url) {
            $('.kit-cms-tree-collapsed').hide();
            $('.kit-cms-tree-expanded').show();
            $('div.kit-cms-tree-state-node').show();
            $.ajax({
              url: url,
              success: function(){
              }
            });
        }


    })();
    </script>
    </div>
{% endblock body %}
