{% extends 'KitpagesCmsBundle:block:edit.html.twig' %}

{% block editData %}

{{ form_row(form.data.root.title) }}
<div>
    <label>Media 1</label>
    {% if mediaList.url_media_1|default('') %}<img src="{{mediaList.url_media_1}}"/>{% endif %}
    {{ form_widget(form.data.root.media_1) }}
    {% render 'KitpagesFileBundle:Upload:widget' with {'fieldId': 'form_data_root_media_1'} %}
</div>
<div>
{{ form_label(form.data.root.body) }}
{{ form_errors(form.data.root.body) }}
{{ form_widget(form.data.root.body, {'attr': {'class':'kit-cms-rte-simple'} } ) }}
</div>
<div>
    <label>Media 2</label>
    {% if mediaList.url_media_2|default('') %}<img src="{{mediaList.url_media_2}}"/>{% endif %}
    {{ form_widget(form.data.root.media_2) }}
    {% render 'KitpagesFileBundle:Upload:widget' with {'fieldId': 'form_data_root_media_2'} %}
</div>
{% endblock editData %}

