{% extends 'KitpagesCmsBundle:block:edit.html.twig' %}

{% block editData %}

{{ form_row(form.data.root.title) }}

<div>
{{ form_label(form.data.root.body) }}
{{ form_errors(form.data.root.body) }}
{{ form_widget(form.data.root.body, {'attr': {'class':'kit-cms-rte-simple'} } ) }}
</div>
<div>
    <label>Media</label>
{{ form_widget(form.data.root.media) }}
{% render 'KitpagesFileBundle:Upload:widget' with {'fieldId': 'form_data_root_media'} %}
</div>
{% endblock editData %}

