{% extends 'KitpagesCmsBundle:page:cms-edit-layout.html.twig' %}

{% block body %}
<h1>Edit block</h1>

<form action="{{ path('kitpages_cms_block_edit', { 'id': id , 'kitpages_target': kitpages_target } ) }}" method="post" {{ form_enctype(form) }}>

    {{ form_errors(form) }}
  
    {{ form_row(form.slug) }}
    {{ form_row(form.template) }}
    {{ form_row(form.isActive) }}
    
    {% block editData %}{% endblock %}

    {{ form_rest(form) }}
    <input type="submit" />
</form>
{% endblock body %}