{% extends cms.layout %}


{% block kitpages_cms_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/kitpagescms/css/common.css') }}"  media="screen" />
{% endblock kitpages_cms_stylesheets %}
{% block kitpages_cms_javascripts %}
    {{ parent() }}
{% endblock %}

{% block kitpages_cms_toolbar %}
    {% if is_granted('ROLE_CMS_ADMIN') %}
        <div class="kit-cms kit-cms-toolbar">
        {#{% render 'KitpagesCmsBundle:Toolbar:widgetToolbar'%}#}
        {{ render(controller('KitpagesCmsBundle:Toolbar:widgetToolbar')) }}
        {% if (kitCmsViewMode is defined) and ( (kitCmsViewMode == 2) or (kitCmsViewMode == 3) ) %}
            {#{% render 'KitpagesCmsBundle:Page:widgetToolbar' with {'page':kitCmsPage} %}#}
            {{ render(controller('KitpagesCmsBundle:Page:widgetToolbar', { 'page':kitCmsPage } )) }}
        {% endif %}
        </div>
        <script>
            $(document).ready(function() {
                $(".kit-cms-delete-button > a").click(function(e) {
                    var response = confirm("Do you confirm your delete action ?");
                    if (!response) {
                        e.preventDefault();
                    }
                });
            });
        </script>
    {% endif %}
{% endblock kitpages_cms_toolbar %}

