{% extends 'KitpagesCmsBundle:Block:edit.html.twig' %}

{% block editData %}

{{ form_row(
    form.data.root.title,
    {'help' : "Title of the block"}
) }}

<div>
    <label>Image</label>
    {{ form_widget(form.data.root.media_mainImage) }}
    {% render 'KitpagesFileBundle:Upload:widget' with {'fieldId': 'form_data_root_media_mainImage'} %}
</div>

{{ form_row(
    form.data.root.imagePosition,
    {'help' : "Indicates where to place the image"}
) }}

{{ form_row(
    form.data.root.mainContent,
    {'help' : "Content displayed around the image"}
) }}

{{ form_row(
    form.data.root.subContent,
    {'help' : "content displayed under the image"}
) }}

{{ form_row(
    form.data.root.displaySeparator,
    {'help' : "do you want to display a line under your content ?"}
) }}

{% endblock editData %}

